@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*
roboto {
    font-family: "Roboto", sans-serif;
}

poppins {
    font-family: "Poppins", sans-serif;
  }
*/

:root {
    --cor_de_fundo: #F3F8FF;
    --cor_principal: #C6CFFF;
    --cor_secundaria: #E8D3FF;
    --cor_hover_quaternaria: #DEECFF;

    --fonte_1: "Poppins", sans-serif;
    --fonte_2: "Roboto", sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor_de_fundo);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor_principal);
}

.barra_de_navegacao {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navegacao_logo {
    font-family: var(--fonte_1);
    font-weight: 700;
}

.lista_opcao_navegacao {
    list-style: none;
    margin-top: 12px;
}

.lista_opcao {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lista_opcao li{
    display: flex;
    align-items: center;
    text-align: center;
}

.lista_opcao li a {
    text-decoration: none;
    font-family: var(--fonte_1);
    color: #000000;
}

.iconi_navegacao {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

/*carrossel */

.carousel-container {
    width: 100%;
    position: relative;
  }

  .carousel-slide {
    display: flex;
    overflow: hidden;
  }

  .carousel-slide img {
    min-width: 100%;
    transition: transform 0.5s ease;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .prev,
  .next {
    display: none; /* Hide buttons by default */
  }

  .carousel-container:hover .prev,
  .carousel-container:hover .next {
    display: block;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

/*carrossel */



.pe_da_pagina {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
