@media (max-width: 600px) {
    .nav, .lista_opcao {
        flex-direction: column;
        text-align: center;
    }

    .lista_opcao li {
        margin: 10px 0;
    }

    .carousel-container, .carousel-slide, .btn {
        width: 100%;
    }

    .card_container_show {
        width: 280px; /* Ajustar conforme necessário */
        flex-direction: column;
    }

    .titulos_produtos, .novos_produtos h1, .cards_produtos_pai {
        font-size: smaller; /* Ajustar tamanho do texto */
    }
}
